*{
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
}

ul,
ol{
  list-style: none;
}

a{
  text-decoration: none;
}

.contanier{
  width: 100%;
  max-width: 1030px;
  padding: 0 15px;
  margin: 0 auto;
}

.title{
  font-size: 50px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 30px;
}

.desc{
  color: #777;
  font-size: 16px;
  line-height: 150%;
  padding-left: 40px;
  border-left: 3px solid #888;
  margin-bottom: 30px;
}

.btn{
  display: inline-block;
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  padding: 12px;
  background-color: #EA625C;
}

/* --------------- HEADER SECTION STYLE START --------------- */
.site-header{
  position: sticky;
  top: 0;
  padding: 15px 0;
  background-color: #fff;
  box-shadow: 0px 0px 8px -1px rgba(34, 60, 80, 0.3);
  z-index: 10;
}
.site-header__wrapper{
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.site-header__nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.site-header__nav-list{
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.site-header__nav-link{
  color: #333;
  font-size: 15px;
  line-height: 150%;
}

.site-header__nav-btn{
  color: #666;
  font-size: 15px;
  line-height: 150%;
  padding-bottom: 6px;
  border-bottom: 1px solid black;
}
/* --------------- HEADER SECTION STYLE END --------------- */


/* --------------- MAIN SECTION STYLE START --------------- */

/* --------------- HERO SECTION STYLE START --------------- */
.site-hero{
  position: relative;
}

.hero-title{
  display: none;
}

.site-hero__wrapper{
  display: flex;
  justify-content: space-between;
}

.site-hero__info{
  width: 100%;
  max-width: 490px;
}

.site-hero__imag{
  /* position: absolute;
  right: 0; */
}

.site-hero__line{
  /* position: relative;
  bottom: -225px; */
  margin: 0;
}
/* --------------- HERO SECTION STYLE END --------------- */

/* --------------- INTEREST SECTION STYLE START --------------- */
.interest{
  padding: 40px 0;
}

.interest-list{
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.interest-item{
  width: 100%;
  max-width: 280px;
}

.interest-item__title{
  color: #222;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.interest-item__desc{
  color: #333;
  font-size: 15px;
  line-height: 160%;
  margin-bottom: 20px;
}

.interest-item__btn{
  display: flex;
  color: #EA625C;
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
  text-transform: uppercase;
  align-items: center;
}

.interest-item__line{
  width: 40px;
  height: 3px;
  margin-right: 10px;
  background-color: #EA625C;
}
/* --------------- INTEREST SECTION STYLE END --------------- */

/* --------------- INFO SECTION STYLE START --------------- */
.info__wrapper{
  display: flex;
  justify-content: space-between;
}

.info__wrapper-start{
  width: 100%;
  max-width: 490px;
  margin-right: 110px;
}
/* --------------- INFO SECTION STYLE END --------------- */

/* --------------- MAIN SECTION STYLE END --------------- */